@charset "utf-8";

/* Theme Color : #eef4fb,#bdd5f0,#7cace2,#4972bc(3),#233d92(4.5) */
.themeColor,.themeBtn2,.ss-controls > a,.calendar td.today .today,.paging span.current,#btnSearchTop {background-color:#4972bc !important}
.themeColor2,#gnbNavM,#lnbNav h2 {background-color:#233d92 !important}
.themeColor3,.themeBtn3,.tB02,.nav-controls > a,.sdot-list > li::before,.sdot::before {background-color:#7cace2 !important}
.themeBG,#gnb > li.fbC > ul,#sitemap > li > a {background-color:#eef4fb !important}
.themeBG2,.tB03 {background-color:#bdd5f0 !important}
.themeBD,#gnb > li.fbC > a,.photo-navigation .thumbs img {border-color:#4972bc !important}
.themeBD2,.summaryDesc {border-color:#eef4fb !important}
.themeBD3,.step-list li::before {border-color:#7cace2 !important}
.themeFC,#gnb a.current,#lnb .submenu a.current,.essential,#sitemap > li > a {color:#4972bc !important}
.themeFC2,.tB03,.naviandtitle h3 {color:#233d92 !important}
.themeGd,.themeBtn,.tB01,#gnbNav.fixed,#lnb > li > a.current,.tnb li.choiced a,.virtSelect a,.popupHeader,.joinStep li.current {
	background: #3f6fd1; /* Old browsers */
	background: -moz-linear-gradient(110deg,  #53a2e0 10%, #3f6fd1 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(110deg,  #53a2e0 10%,#3f6fd1 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(110deg,  #53a2e0 10%,#3f6fd1 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53a2e0', endColorstr='#3f6fd1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#topSearchForm {
	background: #3f71d1; /* Old browsers */
	background: -moz-linear-gradient(90deg,  #4f9cde 10%, #3f71d1 90%); /* FF3.6-15 */
	background: -webkit-linear-gradient(90deg,  #4f9cde 10%,#3f71d1 90%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(90deg,  #4f9cde 10%,#3f71d1 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f9cde', endColorstr='#3f71d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* top menu */
#header {position:relative;z-index:40;border-bottom:1px solid #d0d0d0}
.headerInner {position:relative;z-index:778;background-color:#fff}
/* logo */
#logo {height:62px;padding:25px 0;line-height:0;vertical-align:top}
#logo img {display:inline-block;vertical-align:top}
/* gnb */
#gnbNav {position:relative;z-index:777;width:1200px;margin:0 auto;padding-top:18px}
#submenuArea {display:none;position:absolute;top:127px;left:0;right:0;z-index:776;width:100%;height:300px;border-top:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;background-color:#fff}
#submenuLink {position:absolute;top:0;left:0;right:calc(50% + 280px);height:100%;color:#fff;background:url(../../image/common/bg_gnb.png) right top no-repeat,linear-gradient(90deg, #53a2e0 10%,#3f6fd1 80%)}
#submenuLink .catchphrase {padding:30px 30px 0 0;font-size:1.125em;text-align:right}
#submenuLink .catchphrase strong {display:block;font-size:1.389em;}
#submenuLink .link {position:absolute;right:30px;bottom:27px}
#submenuLink .link a {display:inline-block;width:128px;font-size:1.063em;line-height:38px;text-align:center;border:1px solid rgba(255,255,255,.5);background-color:rgba(25,152,219,.5)}
#submenuLink .link a + a {margin-left:11px}
#gnb {overflow:hidden;position:relative;margin-left:320px;height:72px}
#gnb > li {position:relative;float:left;width:16%;height:100%;text-align:center;box-sizing:border-box}
#gnb > li > a {display:inline-block;padding-bottom:25px;font-weight:300;font-size:1.278em;line-height:47px;color:#222}
#gnb > li a:hover,#gnb > li a:focus {text-decoration:underline}
#gnb > li > ul {position:relative;height:280px;padding:10px 0 10px 12px;text-align:left;border-top:1px solid #d0d0d0}
#gnb > li > ul::before {content:"";position:absolute;top:0;left:0;height:100%;border-left:1px solid #d0d0d0}
#gnb > li > ul ul {display:none}
#gnb > li > ul a {display:inline-block;margin:2px 0;color:#666;word-break:keep-all;letter-spacing:-0.025em}
#gnb > li.fbC > a {padding-bottom:23px;border-bottom:2px solid #d0d0d0}
#gnb > li.fbC > a:hover,#gnb > li.fbC > a:focus {text-decoration:none}
#gnb #gnb1,#gnb #gnb2 {width:18%}
#gnb #gnb6 {text-align:left}
#gnb #gnb6 > a {margin-left:20px}
#gnb7,#gnb #gnb8,#gnb #gnb9 {display:none !important}
.btnTotal {display:none}

/* mobile menu */
#mobileIndexOpen {display:block;overflow:hidden;position:absolute;top:8px;left:10px;width:40px;height:40px;border-radius:3px;background:url(../../image/common/btn_snb.png) 0 0 no-repeat;background-size:100% auto}
#mobileIndexClose {overflow:hidden;position:relative;height:35px;padding:0 10px;font-size:1.188em;line-height:35px;color:#fff;background-color:#515665}
#mobileIndexClose > a {display:block;position:absolute;top:50%;right:7px;width:20px;height:20px;margin-top:-10px;border:1px solid #fff;border-radius:50%;background:url(../../image/common/btn_snb.png) 0 -20px no-repeat;background-size:20px auto}
#gnbNavM {display:none;overflow-x:hidden;overflow-y:auto;position:fixed;top:0;left:-100%;z-index:1111;width:100%;height:100%;font-size:9pt;color:#fff;background:linear-gradient(90deg, #233d92 130px,#4889d8 130px,#3e6ed1 90%)}
#gnbM {background:url(../../image/common/bg_gnb.png) right top no-repeat;background-size:30% auto}
#gnbM > li {display:table;width:130px;border-bottom:1px solid rgba(0,0,0,.7)}
#gnbM > li > a {display:table-cell;overflow:hidden;position:relative;width:90px;height:45px;padding-left:40px;font-size:1.063em;line-height:1.2;color:#fff;vertical-align:middle;word-break:keep-all}
#gnbM > li > a::before {content:"";display:block;position:absolute;top:50%;left:8px;width:26px;height:26px;margin-top:-13px;background:url(../../image/common/ico_gnb_mobile.png) 0 0 no-repeat;background-size:26px auto}
#gnbM > li#gnb2 > a::before {background-position-y:-31px}
#gnbM > li#gnb3 > a::before {background-position-y:-62px}
#gnbM > li#gnb4 > a::before {background-position-y:-93px}
#gnbM > li#gnb5 > a::before {background-position-y:-124px}
#gnbM > li#gnb6 > a::before {background-position-y:-155px}
#gnbM > li#gnb8 > a::before {background-position-y:-186px}
#gnbM > li.fbC > a {font-weight:500;background-color:#122165}
#gnbM > li.fbC > ul {display:block}
#gnbM > li ul {display:none}
#gnbM > li > ul {position:absolute;top:35px;left:130px;width:calc(100% - 130px);border-bottom:1px solid rgba(0,0,0,.3)}
#gnbM > li > ul > li {border-bottom:1px solid rgba(0,0,0,.7)}
#gnbM > li > ul > li:last-child {border-bottom:0}
#gnbM > li > ul > li > a {display:block;padding:7px 15px}
#gnbM > li ul ul {padding:5px 0;color:#222;border-top:1px solid rgba(0,0,0,.7);background-color:#fff}
#gnbM > li ul ul > li {margin:2px 0}
#gnbM > li ul ul > li > a {display:inline-block;padding:2px 10px 2px 15px}
#gnbM > li ul ul > li > a:before {content:"- ";display:inline}
#gnbM ul {padding:0}
#gnbM a.current {font-weight:500}
#gnbM a[target="_blank"]::after {content:"";display:inline;padding-right:22px;background:url(../../image/button/ico_blank.png) 100% 50% no-repeat}

/* content wrap */
.contentGroup:after {content:"";display:block;clear:both}
/* lnb */
#lnbNav {float:left;width:250px}
#lnbNav h2 {position:relative;font-weight:normal;font-size:1.667em;line-height:98px;color:#fff;text-align:center;border:1px solid #666;border-bottom:0;border-radius:10px 10px 0 0}
#lnb {overflow:hidden;word-break:keep-all;border:1px solid #d8d8d8;border-radius:0 0 10px 10px;background-color:#fff}
#lnb a:hover,#lnb a:focus {text-decoration:underline}
#lnb a[target="_blank"]::after {content:"";display:inline;padding-right:22px;background:url(../../image/button/ico_blank_hover.png) 100% 50% no-repeat}
#lnb > li + li {border-top:1px solid #d5d5d5}
#lnb > li > a {display:block;position:relative;padding:10px 20px;font-weight:300;font-size:1.063em;line-height:30px}
#lnb > li > a.current {font-size:1.125em;color:#fff;border:0}
#lnb > li > a.current:hover,#lnb > li > a.current:focus {text-decoration:none}
#lnb .submenu {padding:10px 20px;border-top:1px solid #d8d8d8;background-color:#eef4fb}
#lnb .submenu li + li {margin-top:3px}
#lnb .submenu a::before {content:"- "}
/* contents */
#contents {position:relative;z-index:10;padding:50px 0;word-break:keep-all}
/* navi */
.naviandtitle {overflow:hidden;position:relative;padding:20px;background:#eef4fb url(../../image/common/bg_sub.png) right top no-repeat;background-size:auto 100%}
.naviandtitle h3 {margin-top:7px;font-size:2.222em;line-height:1}
.naviandtitle .navi {margin-top:15px}
.naviandtitle .navi a {display:inline-block;overflow:hidden;width:21px;height:18px;margin:4px 5px 0 0;vertical-align:top;text-indent:10em;background:url(../../image/common/ico_home.png) 0 0 no-repeat}
.naviandtitle .navi > span,.naviandtitle .navi > strong {display:inline-block;font-weight:normal;vertical-align:top}
/*footer*/
#footer {position:relative;padding-bottom:30px;color:#eaeaea;background-color:#515665}
.fnb {padding:20px 0;border-bottom:1px solid #616573}
.fnb ul {position:relative;max-width:1200px;margin:0 auto}
.fnb li {float:left;position:relative;line-height:25px;vertical-align:top}
.fnb li + li {margin-left:20px;padding-left:21px}
.fnb li + li::before,.fAdd address span::before {content:"";position:absolute;top:50%;left:0;width:1px;height:14px;margin-top:-6px;background-color:#757575}
.fnb a:hover,.fnb a:focus {text-decoration:underline}
.fnb b {font-weight:normal;color:#4faeee}
.familySite {position:absolute;top:18px;left:50%;margin-left:370px;padding-right:40px;font-size:0.875em}
.familySite::after {content:"";position:absolute;top:12px;right:50px;border-top:5px solid #8a8e98;border-right:5px solid transparent;border-left:5px solid transparent}
.familySite select {display:block;width:190px;height:30px;font-size:1em;color:#eaeaea;border:1px solid #8a8e98;background:#515665 none}
.familySite select option {font-size:inherit;font-family:inherit;background-color:#616573}
.familySite a {display:block;position:absolute;top:0;right:0;width:39px;line-height:28px;text-align:center;border:1px solid #8a8e98;border-left:0}
.fAdd {overflow:hidden;max-width:1200px;margin:0 auto;padding:20px 0}
.fAdd address span {display:inline-block;position:relative;margin-left:20px;padding-left:21px;white-space:nowrap;vertical-align:baseline}
.fAdd cite {display:block;margin-top:10px;font-weight:normal}

@media screen and (max-width:1024px){
	.mobileShow {display:block !important}
	.mobileShowInline {display:inline-block !important}
	.mobileHide,.mobileShow2,.mobileShow3,#lnbNav,.btnTotal {display:none !important}
	#header {border-bottom:1px solid #e4e4e4}
	#logo {height:32px;padding:12px 0;text-align:center}
	#contents {padding:30px 15px}
	.fnb,.fAdd {padding-left:15px}
	.familySite {right:15px;left:inherit;margin:0}
}
@media screen and (max-width:800px){
	.mobileShow2 {display:block !important}
	.mobileHide2,.familySite,.fAdd address span::before {display:none !important}
	.WebHide {display:block !important}
	.fAdd address span {display:block;margin-left:0;padding-left:0}
}
@media screen and (max-width:640px){
	.naviandtitle {padding:15px}
	.naviandtitle h3 {margin:10px 0;font-size:1.692em}
	.naviandtitle .navi a {background-size:contain; width:16px;}
}
@media screen and (max-width:480px){
	.mobileShow3 {display:block !important}
	.mobileHide3 {display:none !important}
}
@media screen and (min-width:1025px){
	.webHide,.mobileShow,.mobileShow2,.mobileShow3,#mobileIndexOpen,#mobileIndexClose {display:none !important}
	#wrap {min-width:1200px}
	#logo {position:absolute;top:18px;left:0;z-index:1001;padding:0}
	.headerInner,.contentGroup,.footerInner {width:1200px;margin:0 auto}
	#container {padding-top:40px;background:url(../../image/common/bg_sub.png) center top no-repeat,url(../../image/common/bg_sub_repeat.png) 0 0 repeat-x;background-size:auto}
	#contentcore {float:right;width:900px}
	#contents {min-height:600px}
	.naviandtitle {height:100px;padding:0;background:none}
	#gnbNav.fixed {position:fixed;top:0;left:0;right:0;float:none;width:100%;padding:0;border:0}
	#gnbNav.fixed + #submenuArea {position:fixed;top:60px}
	#gnbNav.fixed + #submenuArea #submenuLink {display:none}
	#gnbNav.fixed #gnb {overflow:hidden;position:relative;float:none;max-width:1200px;height:60px;margin:0 auto}
	#gnbNav.fixed #gnb > li {width:16.666%;text-align:center}
	#gnbNav.fixed #gnb > li > a {padding-bottom:3px;line-height:57px;color:#fff}
	#gnbNav.fixed #gnb > li.fbC > a {margin-bottom:1px;padding-bottom:0;border-bottom:2px solid #fff !important}
}